*
{
    box-sizing: border-box;
}

body
{
    background-image:url(image/bg.jpg);
    background-size: cover;
    margin: 0px;
    text-align: justify;
}

header
{
    background-color: #c6d2ed;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

nav
{
    background-color: #EDEDE9;
    text-align: center;
    font-family: Arial;
    margin: 10px;
    padding: 5px;
}

nav a
{
    padding: 14px 16px;
    display: inline-block;
    color: #463f3a;
    font-size: 18px;
}

nav a:hover
{
    background-color: #D6CCC2;
    color: white;
}

footer
{
    background-color: #A6A2A2;
    color: #463f3a;
    text-align: center;
    padding: 10px;
}

main
{
    padding: 20px;
    font-size: 20px;
}
.card 
{
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    background-image: url(image/cardbg.jpg);
    background-size: cover;
    width: 90%;
    text-align: center;
}
button
{
    background-color: lightyellow;
    width: 80vw;
    height: 40px;
    font-size: 16px;
}
button:hover
{
    background-color: goldenrod;
    transform: scale(0.9);
}

h2
{
    background-color: #EEE4E1;
    text-align: center;
    font-weight: bold;
}


@media (max-width: 768px) 
{
    /* 設定主要結構 */
    main, .card 
    {
        width: 100%;
        padding: 10px;
        margin: 0; /* 去除外距，保持版面整齊 */
    }

    /* 調整導航欄的字體大小 */
    nav a 
    {
        font-size: 16px;
        padding: 10px;
    }

    /* 標題字體大小調整 */
    h1, h2 
    {
        font-size: 1.5em;
    }
}